@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.banner {
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    padding-left: calc(50vw - 80px);
    padding-top: 15px;
}

.banner-line {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    font-size: xx-large;
    top: 10px;
    font-family: 'Potta One', cursive;
    color: #ccc;
}
